[submodule "scripts/data/moment"]
	path = scripts/data/moment
	url = https://github.com/moment/moment.git
[submodule "scripts/data/fullcalendar"]
	path = scripts/data/fullcalendar
	url = https://github.com/fullcalendar/fullcalendar.git
[submodule "packages/temporal-polyfill/test262"]
	path = packages/temporal-polyfill/test262
	url = https://github.com/tc39/test262
