[submodule "scripts/data/moment"]
	path = packages/locale-data/data/moment
	url = https://github.com/moment/moment.git
[submodule "scripts/data/fullcalendar"]
	path = packages/locale-data/data/fullcalendar
	url = https://github.com/fullcalendar/fullcalendar.git
[submodule "test262"]
	path = test262
	url = https://github.com/tc39/test262.git
[submodule "packages/temporal-test262-runner"]
	path = packages/temporal-test262-runner
	url = https://github.com/fullcalendar/temporal-test262-runner.git
[submodule "packages/export-size"]
	path = packages/export-size
	url = https://github.com/fullcalendar/export-size.git
